@font-face {
  font-family: GTWalsheim-Thin;
  src: url(fonts/GT-Walsheim-Pro-Thin.otf);
  font-weight: lighter;
}
@font-face {
  font-family: GTWalsheim-Light;
  src: url(fonts/GT-Walsheim-Pro-Light.otf);
  font-weight: 300;
}
@font-face {
  font-family: GTWalsheim;
  src: url(fonts/GT-Walsheim-Pro-Regular.otf);
  font-weight: normal;
}
@font-face {
  font-family: GTWalsheim-Medium;
  src: url(fonts/GT-Walsheim-Pro-Medium.otf);
  font-weight: 600;
}
@font-face {
  font-family: GTWalsheim-Bold;
  src: url(fonts/GT-Walsheim-Pro-Bold.otf);
  font-weight: bolder;
}


*{box-sizing: border-box;}

::selection {
  background-color: #eee; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #eee; /* Gecko Browsers */
}

html, body {
  margin: 0;
}

body {
  height: 100%;
}

header {
  font-family: GTWalsheim, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 16px;
  background-color: transparent;
  height: 90px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 101;
  padding: 0 50px;
  mix-blend-mode: difference;
}

footer {
  position: relative;
  font-family: GTWalsheim, sans-serif;
  font-size: 14px;
  height: 330px;
  background-color: black;
  color: white;
}

footer.-dark-theme {
  border-top: 1px solid white;
}

hr {
  border: none;
  height: 1px;
  background-color: black;
}

canvas {
  /*mix-blend-mode: difference;*/
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ol > li {
  list-style: decimal inside;
}

video {
  display: block;
  position: relative;
  width: 100%;
}

a[href^="tel"] {
  color:inherit !important;
  text-decoration:none;
}

/*.flickity-page-dots .dot {
  display: inline-block;
  width: 30px;
  height: 2px;
  margin: 0 8px;
  background: #fff;
  border-radius: 0;
  opacity: .25;
  cursor: pointer;
}*/

.carousel-status {
  font-family: GTWalsheim-Thin, sans-serif;
  font-size: 18px;
  color: white;
  text-align: center;
  margin: 35px 0;
}

.flickity-prev-next-button {
  top: 50%;
  width: 50%;
  opacity: 0 !important;
  height: 100%;
  border-radius: 0;
  transform: translateY(-50%);
}

.flickity-prev-next-button.previous:hover {
  cursor: url('images/cursor-arrow-prev.png') 32 32, auto;
  cursor: -webkit-image-set(url('images/cursor-arrow-prev-lo.png') 1x, url('images/cursor-arrow-prev.png') 2x) 32 32, pointer; /* Webkit */
}
.flickity-prev-next-button.next:hover {
  cursor: url('images/cursor-arrow-next.png') 32 32, auto;
  cursor: -webkit-image-set(url('images/cursor-arrow-next-lo.png') 1x, url('images/cursor-arrow-next.png') 2x) 32 32, pointer; /* Webkit */
}

.flickity-prev-next-button.previous {
  left: 0;
}

.flickity-prev-next-button.next {
  right: 0;
}

.carousel-wrapper {
  display: block;
  position: relative;
  width: 100%;
  font-family: GTWalsheim-Thin;
  margin: 200px 0;
}

.carousel-cell {
  width: 63%;
  margin: 0 5%;
}
.carousel-image {
  width: 100%;
}

.js-fade-up {
  opacity: 0;
}

.fade-up {
  animation: fadeUp .8s forwards;
}

@keyframes fadeUp {
  0% {
    transform: translateY(15px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.next-project {
  text-align: right;
  width: 50% !important;
  right: -50%;
}

.next-project-eyebrow {
  text-align: right;
  display: block;
  font-size: 20px;
}

.next-project a {
  color: inherit;
  text-decoration: none;
}
.next-project-title {
  font-family: GTWalsheim-Light, sans-serif;
  font-size: 70px;
  margin: 4px 0 0;
  font-weight: normal;
}

.scroll-progress {
  position: fixed;
  bottom: 20px;
  right: 20px;
  height: 80px;
  width: 80px;
  z-index: 10;
  background-color: transparent;
  border: none;
  outline: none;
  transition: opacity .5s, visibility .5s;
}

.scroll-progress:hover {
  cursor: pointer;
}

#goodwell.project-content {
  background-color: #5ad4cb;
  color: white;
  overflow: auto;
  transition: background-color .8s ease, color .8s ease;
}
#pretend.project-content {
  background-color: #eef2f5;
  color: black;
  overflow: auto;
  transition: background-color .8s ease, color .8s ease;
}
#west.project-content {
  background-color: #3f5644;
  color: white;
  overflow: auto;
  transition: background-color .8s ease, color .8s ease;
}
#docent.project-content {
  background-color: #2F343A;
  color: white;
  overflow: auto;
  transition: background-color .8s ease, color .8s ease;
}

#about.project-content {
  background: transparent; /* fallback color */
  overflow: auto;
  transition: background-color .8s ease, color .8s ease;
  color: white;
}

body.about-page {
  /*background: linear-gradient( to bottom, #d6a095, #be4010);*/
  background-repeat: no-repeat;
  background-size: cover;
}

.section-right-image {
  width: 45%;
  float: right;
  position: relative
}

.pink {
  background-color: #ffc5a6 !important;
}

.mint {
  background-color: #def0e4 !important;
  color: black !important;
}

.yellow {
  background-color: #f1c100 !important;
  color: white !important;
}

.black {
  background-color: #000000 !important;
  color: white !important;
}

.intro {
  width: 50%;
  display: inline-block;
  position: relative;
  padding: 0px 20px 0 0px;
  margin: 0;
}

.description {
  width: 50%;
  float: right;
  display: inline-block;
  position: relative;
  margin: 60px 0 0;
  padding: 0px 60px 0px 60px;
}

.heading-w-text-wrapper {
  display: flex;
}

.heading-w-text-wrapper > .heading {
  width: 50%;
  padding: 0px 60px 0 0px;
}

.heading-w-text-wrapper > .text {
  width: 50%;
  padding: 0px 60px 0px 60px;
  margin: 12px 0 0;
}

.project-title {
  font-family: GTWalsheim-Thin, sans-serif;
  font-size: 20px;
  margin-bottom: 21px;
  letter-spacing: .5px;
}

.project-tagline {
  font-family: GTWalsheim-Thin, sans-serif;
  font-size: 60px;
}

.project-description {
  font-family: GTWalsheim-Thin, sans-serif;
  font-size: 20px;
  line-height: 1.7;
  letter-spacing: .5px;
}

.about-hero {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  /*opacity: 0;*/
  transition: opacity 1s;
  background-color: transparent;
  padding: 30vh 100px 0;
}

.shop-hero {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100vh;
  /*opacity: 0;*/
  transition: opacity 1s;
  background-color: transparent;
  padding: 30vh 100px 0;
  background-size: cover;
  background-position: center center;
  text-align: center;
}

.shop-hero-text-wrapper {
  position: absolute;
  transform: translate(0, -50%);
  top: 52%;
  left: 0;
  width: 100%;
  max-width: 650px;
  text-align: left;
  padding: 0 50px 0 50px;
}

.shop-cta a {
  font-family: GTWalsheim, sans-serif;
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.shop-grid-wrapper {
  position: relative;
  background-color: black;
}

.shop-grid-wrapper a {
  display: block;
  width: 100%;
  height: 100%;
}

.shop-grid-text-wrapper {
  position: absolute;
  display: block;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.shop-grid-cta {
  color: white;
  font-size: 20px;
  font-family: GTWalsheim-Thin, sans-serif;
}

.shop-grid-cta:after {
  content: '↗';
  display: inline-block;
  top: 2px;
  margin-left: 6px;
  position: relative;
}

.arrow-external {
  top: 2px;
  margin-left: 6px;
  position: relative;
}

.shop-grid-overlay {
  background-color: rgba(0, 0, 0, 0.75);
  opacity: 0;
  display: block;
  width: 100%;
  height: 100%;
  transition: .7s ease;
  cursor: pointer;
}

.shop-grid-item:hover .shop-grid-overlay {
  opacity: 1;
}

.left-column {
  width: 50%;
  display: inline-block;
}

.right-column {
  width: 50%;
  display: inline-block;
  float: right;
}

.shop-grid-item {
  width: 100%;
  background-size: cover;
  background-position: center center;
  text-align: center;
  position: relative;
}

.shop-grid-item.tall {
  height: 120vh;
}

.shop-grid-item.one {
  height: 60vh;
}

.shop-grid-item h4 {
  font-family: GTWalsheim-Bold, sans-serif;
  font-size: 60px;
  font-weight: normal;
  color: white;
  margin: 16px;
}

.hero-title.centered {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.about-contact {
  display: flex;
  flex-wrap: wrap;
  font-size: 18px;
  padding: 0;
  font-family: GTWalsheim, sans-serif;
  color: white;
}

.role.three-up {
  font-size: 18px;
  width: 33.333%;
  display: inline-block;
  margin-bottom: 15px;
  padding: 0 3% 0 0;
}

.role.two-up {
  font-size: 18px;
  width: 50%;
  display: inline-block;
  margin-bottom: 15px;
  padding: 0 5% 0 0;
}

.role.four-up {
  width: 25%;
  padding: 0 2% 0 0;
}

.about-shape {
  position: absolute;
  top: -355px;
  left: -250px;
  width: 100vw;
  z-index: -1;
}

.project-hero {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100vh;
  /*opacity: 0;*/
  z-index: 1;
  transition: opacity 1s;
  background-size: cover;
  background-position: center center;
  /*background-position: 86% center; Pretend*/
}

.section-wrapper {
  display: block;
  position: relative;
  width: 100%;
  padding: 0 100px;
  font-family: GTWalsheim-Thin;
  margin: 120px 0;
}

.large-project-image {
  width: 100%;
}

.section-title {
  font-size: 30px;
  margin-bottom: 20px;
}

.section-description {
  font-size: 20px;
  line-height: 1.7;
  width: 41%;
  letter-spacing: .5px;
}

.roles {
  display: flex;
  flex-wrap: wrap;
  font-size: 18px;
  padding-top: 12px;
}

.role {
  font-size: 18px;
  width: 20%;
  display: inline-block;
  margin-bottom: 15px;
}

.role-title {
  font-family: GTWalsheim-Medium, sans-serif;
  margin-bottom: 12px;
  font-size: 18px;
  font-weight: normal;
}

.role-image-wrapper {
  display:inline-block;
  width: 100%;
}

.role-image-wrapper img {
  max-height: 200px;
  margin-bottom: 36px;
}

.role-image-wrapper .image-off, .role-image-wrapper:hover .image-on {
  display: none;
}

.role-image-wrapper .image-on, .role-image-wrapper:hover .image-off {
  display: block;
}

.role-item {
  font-family: GTWalsheim-Thin, sans-serif;
  margin-bottom: 1px;
  line-height: 1.7;
  letter-spacing: .5px;
}

.cta-wrapper {
  position: relative;
  display: block;
  width: auto;
  margin: 24px 0;
}

.cta {
  border: 1px solid white;
  background-color: transparent;
  padding: 17px 40px;
  color: white;
  font-family: GTWalsheim-Thin, sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  display: inline-block;
  width: auto;
  text-decoration: none;
  transition: .3s ease-in-out;
}

.cta:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}

.pillar-wrapper {
  display: flex;
}

.pillar-wrapper.-new-line-heading {
  flex-wrap: wrap;
}

.pillar-wrapper p {
  margin: 12px 0;
  font-family: GTWalsheim-Thin, sans-serif;
  font-size: 20px;
  line-height: 1.7;
}

.pillar-wrapper .roles {
  margin-top: 80px;
}

.pillar-wrapper .roles:first-child {
    margin-top: 0;
}

.pillar-wrapper h3 {
  margin: 0;
  font-size: 55px;
  font-family: GTWalsheim-Bold, sans-serif;
  font-weight: normal;
}

.pillar-wrapper h4 {
  font-size: 55px;
  font-weight: normal;
  margin: 12px 0;
}

.pillar-left {
  width: 33.333%;
}

.pillar-right {
  width: 66.666%;
}

.slides {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
}

.slide-dots {
  position: absolute;
  bottom: 6%;
  right: 50px;
  display: inline-block;
  z-index: 10;
  mix-blend-mode: difference;
}

.slide-dots li {
  width: 24px;
  padding: 10px 0;
  height: 0px;
  border-radius: 0px;
  display: inline-block;
  margin-right: 11px;
  opacity: .3;
}

.slide-dots li:after {
  content: '';
  display: block;
  background-color: white;
  width: 100%;
  height: 2px;
  z-index: 1000;
}

.slide-dots li:hover {
  cursor: pointer;
}

.slide-dots li.-active {
  opacity: 1;
}

.landing-project.goodwell:hover {
  cursor: url('images/cursor-goodwell.png') 32 32, auto;
  cursor: -webkit-image-set(url('images/cursor-goodwell-lo.png') 1x, url('images/cursor-goodwell.png') 2x) 0 0, pointer; /* Webkit */
}
.landing-project.west:hover {
  cursor: url('images/cursor-west.png') 32 32, auto;
  cursor: -webkit-image-set(url('images/cursor-west-lo.png') 1x, url('images/cursor-west.png') 2x) 0 0, pointer; /* Webkit */
}
.landing-project.pretend:hover {
  cursor: url('images/cursor-pretend.png') 32 32, auto;
  cursor: -webkit-image-set(url('images/cursor-pretend-lo.png') 1x, url('images/cursor-pretend.png') 2x) 0 0, pointer; /* Webkit */
}

.landing-project {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
  transition: opacity 1s;
}

.landing-project.goodwell {
  background-image: url('images/home-1.png');
  background-size: cover;
  background-position: center center;
}
.landing-project.west {
  background-image: url('images/home-2.png');
  background-size: cover;
  background-position: center center;
}
.landing-project.pretend {
  background-image: url('images/home-3.png');
  background-size: cover;
  background-position: center center;
}
.landing-project.docent {
  background-image: url('images/home-4.png');
  background-size: cover;
  background-position: center center;
}

.landing-project.-active {
  opacity: 1;
  z-index: 2;
}

.slide-backward {
  position: fixed;
  width: 25vw;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}
.slide-forward {
  position: fixed;
  width: 25vw;
  height: 100%;
  top: 0;
  right: 0;
  z-index: 10;
}

.slide-backward:hover {
  cursor: url('images/cursor-arrow-prev.png') 32 32, auto;
  cursor: -webkit-image-set(url('images/cursor-arrow-prev-lo.png') 1x, url('images/cursor-arrow-prev.png') 2x) 32 32, pointer; /* Webkit */
}
.slide-forward:hover {
  cursor: url('images/cursor-arrow-next.png') 32 32, auto;
  cursor: -webkit-image-set(url('images/cursor-arrow-next-lo.png') 1x, url('images/cursor-arrow-next.png') 2x) 32 32, pointer; /* Webkit */
}

/* Emoji Word Replacement */

.char-wrapper {
  position: relative;
  display: inline-block;
}

.char-original {
  position: relative;
  visibility: visible;
  opacity: 1;
  transition: all .6s;
}

.char-emoji {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  transition: all .6s;
}

.char-emoji img {
  width: 6vw;
}

.char-wrapper:nth-child(1) .char-emoji {
  animation-delay: .1s !important;
}
.char-wrapper:nth-child(2) .char-emoji {
  animation-delay: .2s !important;
}
.char-wrapper:nth-child(3) .char-emoji {
  animation-delay: .3s !important;
}
.char-wrapper:nth-child(4) .char-emoji {
  animation-delay: .4s !important;
}
.char-wrapper:nth-child(5) .char-emoji {
  animation-delay: .5s !important;
}
.char-wrapper:nth-child(5) .char-emoji {
  animation-delay: .6s !important;
}
.char-wrapper:nth-child(5) .char-emoji {
  animation-delay: .7s !important;
}
.char-wrapper:nth-child(5) .char-emoji {
  animation-delay: .8s !important;
}

.hide {
  visibility: hidden;
  opacity: 0;
}

.show {
  display: inline-block;
}

.char-emoji.show {
  display: block;
  visibility: visible;
  opacity: 1;
}


@keyframes wave {
  0% {
    transform: translate(-50%, 0px);
  }
  50% {
    transform: translate(-50%, -40px)
  }
  100% {
    transform: translate(-50%, 0px);
  }
}


/*End Emoji Word Replacement*/

.menu-line-wrapper {
  height: 50px;
  width: 50px;
  padding: 0;
  position: absolute;
  top: 50%;
  right: -13px;
  transform: translate(-50px, -50%);
}


.menu-line-inner-wrapper {
  width: 24px;
  height: 24px;
  /*position: relative;*/
}

.menu-line {
  backface-visibility: hidden;
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  top: 9px;
  transform-origin: center center;
  transition: transform .4s, background .4s;
  pointer-events: none;
}

.-top {
  background-color: white;
  transform: translateY(-4.5px);
}

.-bottom {
  background-color: white;
  transform: translateY(4.5px);
}

.-active .-top {
  background-color: black;
  transform: rotate(45deg);
}

.-active .-bottom {
  background-color: black;
  transform: rotate(-45deg);
}

.menu-button.-active {
  mix-blend-mode: unset;
}

.loading-screen {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  animation: colorBlend 6s infinite;
  animation-direction: alternate;
  z-index: 200;
  transition: opacity 1.5s;
  cursor: none;
  font-family: GTWalsheim-Light, sans-serif;
}

.loading-project-name {
  position: absolute;
  display: block;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  font-size: 70px;
  color: white;
  width: 80vw;
  text-align: center;
}

.loading-screen svg {
  fill: #fff;
}

.loading-image {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

@keyframes colorBlend {
  0% {
    background-color: #143e3b;
  }
  14% {
    background-color: #d6a49a;
  }
  28% {
    background-color: #dddfe2;
  }
  42% {
    background-color: #282626;
  }
  57% {
    background-color: #fbaf23;
  }
  71% {
    background-color: #bd401b;
  }
  100% {
    background-color: #143e3b;
  }
}

.hero-title {
  font-size: 5.2vw;
  font-family: GTWalsheim-Bold, sans-serif;
  color: white;
  position: relative;
  padding: 0 17% 55px 0;
}

.shop-title {
  font-size: 75px;
  font-family: GTWalsheim-Bold, sans-serif;
  color: white;
  position: relative;
  padding: 0;
  margin-bottom: 10px;
}

.shop-description {
  color: white;
  font-family: GTWalsheim-Thin, sans-serif;
  margin-bottom: 30px;
  line-height: 1.8;
  font-size: 20px;
}

.footer-content-wrapper {
  /*height: 100px;*/
  position: absolute;
  width: 100%;
  transform: translateY(-50%);
  top: 50%;
}

.footer-column {
  display: inline-block;
  position: relative;
  width: 33%;
  padding: 0 6%;
  vertical-align: top;
}

.copyright {
  width: 44%;
  line-height: 20px;
}
.tagline {
  width: 25%;
}
.links {
  width: 26%;
  line-height: 20px;
}

.footer-column.links span:hover {
  cursor: pointer;
}

.about {
  font-family: GTWalsheim, serif;
  font-size: 14px;
  line-height: 20px;
  color: white;
}

.about a {
  color: black;
  text-decoration: none;
  border-bottom: 1px solid black;
}

header a {
  color: black;
  display: inline-block;
}

nav {
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 100;
  backface-visibility: hidden;
}

.white-background {
  background-color: white;
}

nav:hover {
  cursor: url('images/hover-arrow-up.png') 32 32, auto;
  cursor: -webkit-image-set(url('images/hover-arrow-up.png') 1x, url('images/hover-arrow-up@2x.png') 2x) 32 32, pointer; /* Webkit */
}

.nav {
  padding: 12px 50px;
  background-color: white;
  will-change: transform;
  backface-visibility: hidden;
  transition: transform 1s cubic-bezier(0.81, 0, 0.23, 0.99);
}

h2 {
  font-family: Graphik, sans-serif;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}

.landing-slide {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.scroll-prompt {
  font-family: GTWalsheim, sans-serif;
  font-size: 18px;
  color: white;
  position: absolute;
  bottom: 10%;
  transform: translateX(-50%);
  left: 50%;
  z-index: 100;
  text-transform: uppercase;
  transition: all 1s;
  /*animation: 1s pulse infinite alternate;*/
}

.landing-text {
  font-family: GTWalsheim, serif;
  font-size: 5.6vw;
  font-weight: bold;
  color: black;
  line-height: 1.2;
  letter-spacing: -.25px;
  transform: translate(0, 5%);
  top: 50%;
  width: 85%;
  left: 50px;
  position: absolute;
  opacity: 0;
  transition: opacity 1s .25s, transform 1s cubic-bezier(0.63, 0.01, 0.4, 1.01);
}

.landing-text::selection {
  background-color: #eee; /* WebKit/Blink Browsers */
}

.landing-text::-moz-selection {
  background: #eee; /* Gecko Browsers */
}

.logo {
  font-family: Graphik-Semibold, sans-serif;
  font-size: 20px;
  font-weight: bolder;
  position: relative;
  display: inline-block;
  transform: translateY(-36%);
  top: 50%;
}

.logo svg {
  fill: white;
}

.menu-button {
  font-family: Graphik, sans-serif;
  font-size: 18px;
  border-bottom: 1px solid black;
  font-weight: normal;
  width: 24px;
  height: 24px;
  position: fixed;
  right: 50px;
  top: 35px;
  display: inline-block;
  z-index: 199;
  transform: none;
  background-color: transparent;
  border: none;
  mix-blend-mode: difference;
}

.menu-button:hover {
  cursor: pointer;
}

.menu-button:focus {
  outline: none;
}

.menu-item {
  color: #dddfe2;
  font-family: GTWalsheim-Light, sans-serif;
  font-size: 70px;
  margin: 2% 0;
  text-align: right;
  line-height: 1;
  font-weight: lighter;
  transition: color .6s;
}

.menu-item a {
  color: #dddfe2;
  text-decoration: none;
  transition: color .6s;
}

.menu-item a:hover {
  color: black;
  cursor: pointer;
}

.menu-item:hover {
  /*font-family: GTWalsheim, sans-serif;*/
  color: black;
  font-weight: normal;
}

.menu-container {
  height: auto;
  width: 100%;
  overflow: auto;
  padding: 50px;
  transform: translateY(-50%);
  top: 50%;
  position: absolute;
  -webkit-overflow-scrolling: touch;
}

.lock-scroll {
  overflow: hidden;
}

.bold-label {
  font-family: GTWalsheim-Thin, sans-serif;
  font-size: 22px;
  position: relative;
  display: block;
}

.medium-label {
  font-family: Graphik, sans-serif;
  font-weight: bold;
}

.letter-label {
  font-family: Graphik, sans-serif;
  font-size: 20px;
  color: #BDBDBD;
  margin-bottom: 30px;
  margin-top: 40px;
}

.letter-wrapper {
  font-family: GTWalsheim, serif;
  font-size: 20px;
  font-weight: normal;
  line-height: 31px;
  margin-bottom: 40px;
}

.page {
  padding: 0 0 20px;
  background-color: white;
  /*backface-visibility: hidden;*/
}

.page-content {
  overflow: auto;
}

.page-intro {
  font-family: GTWalsheim-Light, sans-serif;
  font-weight: normal;
  font-size: 4.6vw;
  width: 70%;
  max-width: 1400px;
  text-align: center;
  margin: 60px auto;
  line-height: 1.4;
}

.say-hello-link {
  color: black;
  text-decoration: none;
}

.say-hello {
  font-family: GTWalsheim, sans-serif;
  font-size: 18px;
  margin: 64px 0;
  text-align: center;
}

.say-hello-arrow {
  display: inline-block;
  transition: transform .2s ease-in-out;
  padding-left: 4px;
}

.say-hello:hover {
  cursor: pointer;
}

.say-hello:hover .say-hello-arrow {
  transform: translateX(4px);
}

#form-modal-wrapper {
  width: 100vw;
  height: 100vh;
  color: black;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 216;
  transition: transform 0.6s cubic-bezier(0.81, 0, 0.23, 0.99), opacity 1s;
  overflow: auto;
  transition: all .8s;
  opacity: 0;
  visibility: hidden;
}

#form-modal-wrapper.move {
  background-color: rgba(255, 255, 255, 0.95);
}

.form-wrapper {
  width: 50vw;
  height: auto;
  padding: 48px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  background-image: url('images/form-background.png');
  background-position: center center;
  background-size: cover;
}

.form-submit {
  display: block;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  font-family: GTWalsheim-Light, sans-serif;
  padding: 12px 72px;
  text-transform: uppercase;
  font-size: 12px;
  margin: 35px auto 0;
  transition: background-color .3s ease-in-out, color .3s ease-in-out;
}

.form-submit:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

.close-form {
  display: inline-block;
  position: absolute;
  right: 30px;
  top: 30px;
}

.close-form:hover {
  cursor: pointer;
}

.list-eyebrow {
  font-family: Graphik, sans-serif;
  font-weight: bold;
  font-size: 15px;
  display: block;
  margin: 60px 0 26px;
}

.column {
  width: 49%;
  display: inline-block;
  vertical-align: top;
  padding-right: 45px;
  margin-bottom: 80px;
}

.column img {
  width: 100%;
  margin-bottom: 14px;

}

.column a {
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: inline-block;
}

.column a:hover {
  cursor: url('images/hover-arrow-link.png') 32 32, auto;
  cursor: -webkit-image-set(url('images/hover-arrow-link.png') 1x, url('images/hover-arrow-link@2x.png') 2x) 32 32, pointer; /* Webkit */
}

.hidden {
  opacity: 0;
  display: none;
}

.sticky {
  position: fixed;
  top: 90px;
  width: 100%;
}

.move {
  transform: translateX(0vw) !important;
  opacity: 1 !important;
  visibility: visible !important;
}

.close {
  font-family: Graphik, sans-serif;
  font-weight: normal;
  font-size: 20px;
  position: absolute;
  top: 30px;
  right: 50px;
}

.close:hover {
  cursor: pointer;
}

.hide-desktop {
  display: none;
}

form {
  background-color: transparent;
  border: none;
  margin-top: 40px;
}

label {
  color: white;
  font-family: GTWalsheim, sans-serif;
  margin: 18px 0 50px 0;
  display: block;
}

textarea {
  display: block;
  margin: 35px 0 0 0px;
  width: 100%;
  height: 140px;
  background-color: transparent;
  border: 1px solid white;
  box-shadow: none;
  padding: 12px;
  color: white;
  font-family: GTWalsheim-Thin, sans-serif;
  font-size: 17px;
}

textarea:focus {
  outline: none;
}

input {
  background-color: transparent;
  border-radius: unset;
  border: none;
  border-bottom: 1px solid white;
  padding: 7px 0;
  width: 100%;
  color: white;
  font-family: GTWalsheim-Thin, sans-serif;
  font-size: 17px;
}

input:focus {
  outline: none;
  border-bottom: 1px solid white;
}

#menu {
  width: 100vw;
  height: 100vh;
  background-color: white;
  color: black;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 102;
  transition: transform 0.6s cubic-bezier(0.81, 0, 0.23, 0.99), opacity 1s;
  overflow: auto;
  transition: all .8s;
  opacity: 0;
  visibility: hidden;
}

.social-icons-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  height: 60px;
  align-items: center;
  margin-top: 30px;
}

.social-icons-item {
  width: 40px;
  margin: 0 0 0 24px;
  transition: all .5s;
}

.social-icons-item:hover {
  filter: invert(100%);
}

#index-overlay {
  width: 100vw;
  height: 100vh;
  animation: colorBlend 20s infinite;
  color: black;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 104;
  transition: transform 0.6s cubic-bezier(0.81, 0, 0.23, 0.99), opacity 1s;
  overflow: auto;
  transition: all .8s;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.index-title-container {
  display: inline-block;
  position: relative;
  width: auto;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  text-align: center;
  z-index: 105;
}

.index-title-container a {
  color: white;
  text-decoration: none;
  display: block;
  margin: 12px 0;
}

.index-title {
  color: white;
  font-size: 70px;
  font-weight: normal;
  font-family: GTWalsheim-Light, sans-serif;
  pointer-events: auto;
  cursor: pointer;
  position: relative;
}

.index-title:before, .index-title:after {
  content: '';
  position: absolute;
  width: 0%;
  height: 5px;
  top: 50%;
  margin-top: -0.5px;
  background: #fff;
}

.index-title:before {
  left: -2.5px;
}
.index-title:after {
  right: 2.5px;
  background: #fff;
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.index-title:hover:before {
  background: #fff;
  width: 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.index-title:hover:after {
  background: transparent;
  width: 100%;
  transition: 0s;
}


.index-bg-wrapper {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.index-bg-image {
  position: fixed;
  display: block;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all .7s;
}

.index-bg-image.goodwell {
  background-image: url('images/home-1.png');
  background-size: cover;
  background-position: center center;
}
.index-bg-image.west {
  background-image: url('images/home-2.png');
  background-size: cover;
  background-position: center center;
}
.index-bg-image.pretend {
  background-image: url('images/home-3.png');
  background-size: cover;
  background-position: center center;
}
.index-bg-image.docent {
  background-image: url('images/home-4.png');
  background-size: cover;
  background-position: center center;
}

#homepage {
  margin-top: 100vh;
}

/*Laptop/Tablet Styles*/
@media only screen and (max-width: 1024px) {
  .role.four-up {
    width: 50%;
    padding: 0 2% 5% 0;
  }
}

/* Mobile Styles */

@media only screen and (max-width: 768px) {
    header {
      padding: 0 23px;
    }

    footer {
      height: 500px;
    }

    label {
      color: white;
      font-family: GTWalsheim, sans-serif;
      margin: 18px 0 40px 0;
      display: block;
    }

    .form-wrapper {
      width: 100vw;
      height: 100%;
    }

    .index-title {
      font-size: 38px;
      margin: 20px 0;
    }

    .index-title:before, .index-title:after {
      display: none;
    }

    .nav {
      padding: 12px 23px;
    }

    .scroll-progress {
      bottom: 20px;
      right: 20px;
      height: 40px;
      width: 40px;
      z-index: 10;
      padding: 0;
    }

    .next-project {
      text-align: right;
      width: 100% !important;
      right: 0;
    }

    .next-project-title {
      font-size: 50px;
    }

    .logo {
      font-size: 14px;
      width: 163px;
    }

    .logo img {
      width: 100%;
    }
    .menu-button {
      right: 25px;
      font-size: 14px;
    }

    .shop-title {
      font-size: 10vw;
      margin-bottom: 20px;
    }

    .shop-grid-item h4 {
      font-size: 28px;
    }

    .shop-grid-item.tall {
      height: 60vh;
    }

    .left-column {
      width: 100%;
      display: block;
    }

    .right-column {
      width: 100%;
      display: inline-block;
      float: none;
    }

    .landing-text {
      line-height: 1.2;
      font-size: 40px;
      left: 23px;
    }

    .social-icons-wrapper {
      margin-top: 50px;
    }

    .about-shape {
      position: absolute;
      top: -12px;
      left: -36px;
      width: 84vw;
      z-index: -1;
    }

    .about-hero {
      padding: 125px 25px 0;
    }

    .hero-title {
      font-size: 10vw;
      padding: 0 0 30px;
    }

    .role.three-up {
      width: 100%;
      display: inline-block;
      margin-bottom: 35px;
      padding: 0;
    }

    .role.two-up {
      width: 100%;
      display: inline-block;
      margin-bottom: 35px;
      padding: 0;
    }

    .role.four-up {
      width: 100%;
      display: inline-block;
      margin-bottom: 35px;
      padding: 0;
    }

    .role-image-wrapper img {
      max-height: 200px;
      margin: 0px auto 36px;
      display: block;
    }

    .pillar-wrapper {
      flex-wrap: wrap;
    }

    .pillar-wrapper h3 {
      margin-bottom: 8px;
    }

    .pillar-wrapper .roles:not(:first-child) {
      margin-top: 0;
    }

    .pillar-wrapper .roles:first-child {
        margin-top: 0;
    }

    .pillar-wrapper .role {
      margin-top: 40px;
    }

    .pillar-left {
      width: 100%;
      margin-bottom: 12px;
    }

    .pillar-right {
      width: 100%;
    }

    .close {
      position: fixed;
      top: 24px;
      right: 24px;
      display: block;
      border: none;
      z-index: 140;
      width: 40px;
    }

    .close:hover {
      cursor: pointer;
    }

    .menu-item {
      margin-top: 42px;
      font-size: 48px;
      line-height: 30px;
    }

    #menu {
      /*width: 90vw;
      transform: translateX(90vw);*/
    }

    .slide-dots {
      bottom: 10%;
    }

    .section-description {
      width: 100%;
    }

    .section-right-image {
      width: 100%;
      float: unset;
      position: relative;
      margin-bottom: 50px;
    }

    .role {
      font-size: 18px;
      width: 100%;
      display: inline-block;
      margin-bottom: 48px;
    }

    .section-wrapper {
      padding: 0 24px;
      font-family: GTWalsheim-Thin;
      margin: 64px 0;
    }

    .project-title {
      font-size: 20px;
    }

    .project-tagline {
      font-size: 50px;
    }

    .intro {
      width: 100%;
      display: inline-block;
      position: relative;
      padding: 0;
      margin: 0;
    }

    .description {
      width: 100%;
      float: none;
      display: inline-block;
      position: relative;
      margin: 21px 0 0;
      padding: 0;
    }

    .heading-w-text-wrapper {
      flex-wrap: wrap;
    }

    .heading-w-text-wrapper > .heading {
      width: 100%;
      padding: 0;
    }

    .heading-w-text-wrapper > .text {
      width: 100%;
      padding: 0;
      margin: 21px 0 0;
    }

    .flickity-prev-next-button {
      width: 10%;
      right: 0 !important;
      opacity: 0 !important;
    }

    .flickity-prev-next-button.next {
      right: 0 !important;
    }

    .flickity-prev-next-button.previous {
      left: 0 !important;
    }

    .carousel-wrapper {
      margin: 120px 0;
    }

    .carousel-cell {
      width: 88%;
      margin: 0 1%;
    }

    .loading-project-name {
      font-size: 40px;
    }

    .menu-container {
      height: auto;
      width: 100%;
      overflow: auto;
      padding: 0 25px;
    }

    .page-content {
      margin-left: 23px;
      margin-right: 23px;
    }

    .page-intro {
      font-size: 6vw;
      width: 100%;
    }

    .footer-content-wrapper {
      height: auto;
    }

    .footer-column {
      width: 100%;
      margin: 18px 0;
    }

    .column {
      width: 100%;
      padding-right: 0;
    }

    .hide-desktop {
      display: block;
    }
    .hide-mobile {
      display: none;
    }
}


@media only screen and (min-width: 768px) and (max-width: 1440px) {
  #menu {
    width: 100vw;
    /*transform: translateX(600px);*/
  }
}

@media only screen and (max-width: 400px) {
  .landing-text {
    font-size: 35px;
  }
}
